# Exercises

Download the dataset from http://yelp.com/dataset_challenge

Use the business table to answer questions 1-4.

## 1. Create a new column that contains only the zipcode.

## 2. The table contains a column called 'categories' and each entry in this column is populated by a list. We are interested in those businesses that are restaurants. Create a new column 'restaurant_type' that contains a description of the restaurant based on the other elements of 'categories. 
That is, if we have '[Sushi Bars, Japanese, Restaurants]' in categories the 'restaurant_type will be '{'SushiBars': 1, 'Japanese': 1, 'Mexican': 0, ...}'

## 3. Lets clean the 'attributes' column. The entries in this column are dictionaries. We need to do two things:

 - Turn all the True or False values in the dictionary to 1 and 0.

 - There are some entries within dictionaries that are dictionaries themselves, lets turn the whole entry into just one dictionary, for example if we have

  '{'Accepts Credit Cards': True, 'Alcohol': 'none','Ambience': {'casual': False,'classy': False}}'

 then turn it into

 '{'Accepts Credit Cards':1, 'Alcohol': 0, 'Ambience_casual': 0, 'Ambience_classy': 0}'.

 There might be other entries like {'Price Range': 1} where the values are numerical so we might want to change that into {'Price_Range_1': 1}.

## 4. Create a new column for every day of the week and fill it with the amount of hours the business is open that day.

## 5. Create a table with the average star review for a business from the review table.

##  6. Create a new table that only contains restaurants with the following schema:
Business_Name | Restaurant_type | Friday hours | Saturday hours | Attributes | Zipcode | Average Rating